@{
    ViewData["Title"] = "Strona startowa";
}

<h2>Witaj na stronie!</h2>
<p>Wybierz jedną z opcji:</p>

<p>
    <a asp-controller="Auth" asp-action="Login" class="btn btn-primary me-2">Zaloguj się</a>
    <a asp-controller="Auth" asp-action="Register" class="btn btn-success">Zarejestruj się</a>
</p>
