@model lab1_gr1.ViewModels.UserVM.LoginVM

@{
    ViewData["Title"] = "Panel użytkownika";
}

<h2>Witaj, @Model.Username!</h2>
<p>Miło Cię znowu widzieć 😄</p>

<p>
    <a asp-controller="Recipe" asp-action="Index" class="btn btn-success me-2">Przepisy</a>
    <a asp-controller="Recipe" asp-action="Browse" class="btn btn-success me-2">Wszystkie przepisy</a>
    <a asp-controller="RecipeSchedule" asp-action="Index" class="btn btn-success me-2">Harmonogram</a>
    <a asp-controller="ShoppingList" asp-action="Index" class="btn btn-success me-2">Lista zakupów</a>


    <form asp-controller="Auth" asp-action="Logout" method="post" style="display:inline;">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger">Wyloguj</button>
    </form>
    <form asp-controller="Auth" asp-action="ChangePassword" method="get" style="display:inline;">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger">Zmien haslo</button>
    </form>
    <form asp-controller="Auth" asp-action="DeleteAccount" method="post" style="display:inline;" onsubmit="return confirm('Czy na pewno chcesz usunąć konto?');">
        <button type="submit" class="btn btn-danger">Usuń konto</button>
    </form>

</p>
