@{
    ViewData["Title"] = "Panel użytkownika";
    var username = ViewBag.Username as string;
}

<h2>Witaj, @username!</h2>
<p>Miło Cię znowu widzieć 😄</p>

<p>
    <a asp-controller="Recipe" asp-action="Index" class="btn btn-success me-2">Przepisy</a>

    <form asp-controller="Auth" asp-action="Logout" method="post" style="display:inline;">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger">Wyloguj</button>
    </form>
</p>
