@model lab1_gr1.ViewModels.UserVM.LoginVM

@{
    ViewData["Title"] = "Panel użytkownika";
}

<h2>Witaj, @Model.Username!</h2>
<p>Miło Cię znowu widzieć 😄</p>

<p>
    <a asp-controller="Recipe" asp-action="Index" class="btn btn-success me-2">Przepisy</a>
    <a asp-controller="Ingredient" asp-action="Index" class="btn btn-success me-2">Składniki</a>

    <form asp-controller="Auth" asp-action="Logout" method="post" style="display:inline;">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger">Wyloguj</button>
    </form>
</p>
