@model lab1_gr1.ViewModels.UserVM.LoginVM


<div>
    <label>
        Login:
        <input asp-for="Login" />
    </label>
    <label>
        Password:
        <input asp-for="Password" type="password" />
    </label>
</div>
