@model lab1_gr1.ViewModels.IngredientVM.EditIngredientVM

@{
    ViewData["Title"] = "Edytuj składnik";
}

<h2>Edytuj składnik</h2>

<form asp-action="Edit" method="post">
    <div class="form-group mb-3">
        <label asp-for="Name" class="form-label">Nazwa składnika</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-success">Zapisz zmiany</button>
    <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
